.DS_Store
*.class
*.log
*.pyc
*.swp
*.iml
*.ipr
*.iws
.idea/
.atom/
.vscode/
.buildlog/
.history/
.svn/
app.*.symbols
app.*.map.json

# Flutter/Dart/Pub
.dart_tool/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/
build/
ios/
pubspec.lock
