.demo-noise-horizontal {
  grid-area: noiseHorizontal;
}

.demo-noise-vertical {
  grid-area: noiseVertical;
}

.demo-noise-2d {
  grid-area: noise2d;
}

.demo-noise-info {
  grid-area: noiseInfo;
  margin-left: 20px;
}

.demo-noise-grid {
  display: grid;
  grid-template-columns: 100px 500px 350px;
  grid-template-rows: 100px 500px;
  grid-template-areas:
    '............. noiseHorizontal noiseInfo'
    'noiseVertical noise2d         noiseInfo';
}
