.demo-eca {
  grid-area: eca;
  margin: 0 10px 0 10px;
  border: 1px solid #ccc;
  line-height: 0;
}

.demo-eca-legend {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  grid-area: ecaLegend;
  margin: 10px;
}

.demo-eca-legend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-eca-legend-item-container {
  display: flex;
}

.demo-eca-legend-item-block {
  border: 1px solid #000;
  margin: 2px;
  width: 12px;
  height: 12px;
}

.demo-eca-legend-item-block-white {
  background: #fff;
}

.demo-eca-legend-item-block-black {
  background: #000;
}

.demo-eca-info {
  grid-area: ecaInfo;
  margin-left: 10px;
}

.demo-eca-grid {
  display: grid;
  grid-template-columns: fit-content(100%) 250px;
  grid-template-rows: fit-content(100%);
  grid-template-areas:
    'ecaLegend ecaInfo'
    'eca       ecaInfo';
}
